.my-salon-card {
  border-radius: 15px;
}
.localisation-icon {
  font-size: 20px;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .mobile-p {
    margin-top: 470px;
  }
}
.card-detail-salon {
  z-index: 100;
  background: white;
  position: absolute;
  opacity: 1;
  top: 360px;
  border-radius: 30px;
}
.salon-card-detail {
  color: #0e204d !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.salon-card-detail.middle {
  border-left: 2px solid #eee;
  border-right: 2px solid #eee;
}
.salon-card-detail div {
  text-align: center;
}
.salon-card-detail h6,
.salon-card-detail p {
  color: #0e204d !important;
}
.salon-card-detail h6 {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(19, 198, 221);
  font-size: 25px;
}
.localisation-icon-salon {
  color: #0e204d !important;
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}
.progress {
  background: rgba(255, 255, 255, 0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 10px 3px;
  display: flex;
  height: 20px;
  width: 80%;
}

.progress-value {
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 15px;
  transition: 1s ease;
}
.width-percentage-0 {
  width: 0% !important;
}
.width-percentage-1 {
  width: 1% !important;
}
.width-percentage-2 {
  width: 2% !important;
}
.width-percentage-3 {
  width: 3% !important;
}
.width-percentage-4 {
  width: 4% !important;
}
.width-percentage-5 {
  width: 5% !important;
}
.width-percentage-6 {
  width: 6% !important;
}
.width-percentage-7 {
  width: 7% !important;
}
.width-percentage-8 {
  width: 8% !important;
}
.width-percentage-9 {
  width: 9% !important;
}
.width-percentage-10 {
  width: 10% !important;
}
.width-percentage-11 {
  width: 11% !important;
}
.width-percentage-12 {
  width: 12% !important;
}
.width-percentage-13 {
  width: 13% !important;
}
.width-percentage-14 {
  width: 14% !important;
}
.width-percentage-15 {
  width: 15% !important;
}
.width-percentage-16 {
  width: 16% !important;
}
.width-percentage-17 {
  width: 17% !important;
}
.width-percentage-18 {
  width: 18% !important;
}
.width-percentage-19 {
  width: 19% !important;
}
.width-percentage-20 {
  width: 20% !important;
}
.width-percentage-21 {
  width: 21% !important;
}
.width-percentage-22 {
  width: 22% !important;
}
.width-percentage-23 {
  width: 23% !important;
}
.width-percentage-24 {
  width: 24% !important;
}
.width-percentage-25 {
  width: 25% !important;
}
.width-percentage-26 {
  width: 26% !important;
}
.width-percentage-27 {
  width: 27% !important;
}
.width-percentage-28 {
  width: 28% !important;
}
.width-percentage-29 {
  width: 29% !important;
}
.width-percentage-30 {
  width: 30% !important;
}
.width-percentage-31 {
  width: 31% !important;
}
.width-percentage-32 {
  width: 32% !important;
}
.width-percentage-33 {
  width: 33% !important;
}
.width-percentage-34 {
  width: 34% !important;
}
.width-percentage-35 {
  width: 35% !important;
}
.width-percentage-36 {
  width: 36% !important;
}
.width-percentage-37 {
  width: 37% !important;
}
.width-percentage-38 {
  width: 38% !important;
}
.width-percentage-39 {
  width: 39% !important;
}
.width-percentage-40 {
  width: 40% !important;
}
.width-percentage-41 {
  width: 41% !important;
}
.width-percentage-42 {
  width: 42% !important;
}
.width-percentage-43 {
  width: 43% !important;
}
.width-percentage-44 {
  width: 44% !important;
}
.width-percentage-45 {
  width: 45% !important;
}
.width-percentage-46 {
  width: 46% !important;
}
.width-percentage-47 {
  width: 47% !important;
}
.width-percentage-48 {
  width: 48% !important;
}
.width-percentage-49 {
  width: 49% !important;
}
.width-percentage-50 {
  width: 50% !important;
}
.width-percentage-51 {
  width: 51% !important;
}
.width-percentage-52 {
  width: 52% !important;
}
.width-percentage-53 {
  width: 53% !important;
}
.width-percentage-54 {
  width: 54% !important;
}
.width-percentage-55 {
  width: 55% !important;
}
.width-percentage-56 {
  width: 56% !important;
}
.width-percentage-57 {
  width: 57% !important;
}
.width-percentage-58 {
  width: 58% !important;
}
.width-percentage-59 {
  width: 59% !important;
}
.width-percentage-60 {
  width: 60% !important;
}
.width-percentage-61 {
  width: 61% !important;
}
.width-percentage-62 {
  width: 62% !important;
}
.width-percentage-63 {
  width: 63% !important;
}
.width-percentage-64 {
  width: 64% !important;
}
.width-percentage-65 {
  width: 65% !important;
}
.width-percentage-66 {
  width: 66% !important;
}
.width-percentage-67 {
  width: 67% !important;
}
.width-percentage-68 {
  width: 68% !important;
}
.width-percentage-69 {
  width: 69% !important;
}
.width-percentage-70 {
  width: 70% !important;
}
.width-percentage-71 {
  width: 71% !important;
}
.width-percentage-72 {
  width: 72% !important;
}
.width-percentage-73 {
  width: 73% !important;
}
.width-percentage-74 {
  width: 74% !important;
}
.width-percentage-75 {
  width: 75% !important;
}
.width-percentage-76 {
  width: 76% !important;
}
.width-percentage-77 {
  width: 77% !important;
}
.width-percentage-78 {
  width: 78% !important;
}
.width-percentage-79 {
  width: 79% !important;
}
.width-percentage-80 {
  width: 80% !important;
}
.width-percentage-81 {
  width: 81% !important;
}
.width-percentage-82 {
  width: 82% !important;
}
.width-percentage-83 {
  width: 83% !important;
}
.width-percentage-84 {
  width: 84% !important;
}
.width-percentage-85 {
  width: 85% !important;
}
.width-percentage-86 {
  width: 86% !important;
}
.width-percentage-87 {
  width: 87% !important;
}
.width-percentage-88 {
  width: 88% !important;
}
.width-percentage-89 {
  width: 89% !important;
}
.width-percentage-90 {
  width: 90% !important;
}
.width-percentage-91 {
  width: 91% !important;
}
.width-percentage-92 {
  width: 92% !important;
}
.width-percentage-93 {
  width: 93% !important;
}
.width-percentage-94 {
  width: 94% !important;
}
.width-percentage-95 {
  width: 95% !important;
}
.width-percentage-96 {
  width: 96% !important;
}
.width-percentage-97 {
  width: 97% !important;
}
.width-percentage-98 {
  width: 98% !important;
}
.width-percentage-99 {
  width: 99% !important;
}
.width-percentage-100 {
  width: 100% !important;
}
